@import "./Variables.scss";
@import "./Mixins.scss";

.big-search_wrapper {
  width: 100%;
  max-width: $max-w;
  position: relative;
  display: flex;
  align-items: center;
  @include glass-morphism;
  border-radius: 1rem;
}

.big-search_input {
  width: 100%;
  font-size: large;
  padding: 0.8rem;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0);
  color: $base-font-color;
}

.big-search_icon {
  position: absolute;
  right: 1rem;
  font-size: x-large;
  color: $xlight-font-color;
}

@media (min-width: 640px) {
  .big-search_input {
    font-size: xx-large;
    padding: 1.5rem;
  }

  .big-search_icon {
    right: 2rem;
    font-size: $xxx-large;
  }
}
