.filter-selector {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: medium;
  margin: 0.3rem 0;
  overflow: hidden;

  .checkbox {
    margin-right: 1rem;
    cursor: pointer;
    font-size: 1.5rem;
  }

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width: 20rem;
  }
}
