@import "./Variables.scss";
@import "./Mixins.scss";

.search_wrapper {
  width: 100%;
  max-width: $max-w;
  position: relative;
  display: flex;
  align-items: center;
  @include glass-morphism;
  border-radius: 1rem;
}

.search_input {
  width: 100%;
  font-size: large;
  padding: 0.7rem;
  padding-right: 3rem;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0);
  color: $base-font-color;
}

.search_icon {
  position: absolute;
  right: 1rem;
  font-size: large;
  color: $xlight-font-color;
}

@media (min-width: 1024px) {
  .filter-panel {
    display: block;
  }

  .search_input {
    width: 40rem;
  }
}
