// lenghts
$max-w: 72rem;
$xl: 10rem;

// font sizes
$xxx-large: 3rem;

// colors
$base-font-color: rgb(53, 53, 53);
$light-font-color: rgba(39, 39, 39, 0.7);
$xlight-font-color: rgba(39, 39, 39, 0.5);
$glass-border-color: rgba(39, 39, 39, 0.18);
$sheet-color: rgba(89, 0, 255, 0.432);
$star-color: #fdd33d;
